<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
 		
 	<import resource="loggers.xml"/>
 	
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:client.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>

	<bean id="client" class="beans.Client">
		<constructor-arg  value="${id}"/>
    	<constructor-arg  value="${name}"/>
    	<property name="greeting"  value="${greeting}" />
	</bean>
	<bean id="app" class="App">
		<constructor-arg ref="client"/>
		<constructor-arg ref="cashFileEventLogger"/>
		<constructor-arg>
			<map>
				<entry key="INFO" value-ref="consoleEventLogger"/>
				<entry key="ERROR" value-ref="fileEventLogger"/>
			</map>
		</constructor-arg>
	</bean>



</beans>