<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
 		
 	<import resource="loggers.xml"/>

	<bean id="client" class="beans.Client">
		<constructor-arg index="0" value="1"/>
    	<constructor-arg index="1" value="J. Smith"/>
    	<property name = "greeting" value="Hello there!" />
	</bean>
	<bean id="app" class="App">
		<constructor-arg ref="client"/>
		<constructor-arg ref="cashFileEventLogger"/>
		<constructor-arg>
			<map>
				<entry key="INFO" value-ref="consoleEventLogger"/>
				<entry key="ERROR" value-ref="fileEventLogger"/>
			</map>
		</constructor-arg>
	</bean>



</beans>